<?xml version="1.0"?>
<!-- 独立文件用于加密 -->
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="accessKeyId" value=""/>
  <add key="accessKeySecret" value=""/>
  <add key="templateCode" value=""/>
  <add key="signName" value=""/>
  <!-- 每次生成的Code数量 -->
  <add key="countGenerateCode" value="1000"/>
  <!-- 微信公众号信息-->
  <add key="wxAppId" value="" />
  <add key="wxAppSecret" value="" />
</appSettings>
